<h1>Hi there!</h1>

<p>I'm your neighbor at 63rd and Burlington Ave N. I made an app for our neighborhood and I'm excited to share it with you!</p>

<p>I'm trying to make it easy, so I created an account for you already. All you have to do is click this link and set a password! (I promise I'm not trying to steal your passwords, but just in case, you probably shouldn't reuse any important passwords for some random email from a neighbor)</p>

<p><%= link_to "Set Up Your Account", @login_url, style: "background-color: #4F46E5; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px; display: inline-block;" %></p>

<p>This is like a wiki for our neighborhood; anyone can enter details for anyone else. If someone changes your details, you'll get an email about it so you can see what was changed and by whom.</p>

<p>I hope you enjoy my little app! Love you all!</p>
<p>Chuck Lauer Vose @ 63rd and Burlington Ave N</p>

<hr style="margin: 24px 0; border: none; border-top: 1px solid #e5e7eb;">

<p style="font-size: 12px; color: #6b7280; text-align: center;">
  <strong>Email Preferences:</strong><br>
  <a href="<%= @unsubscribe_url %>" style="color: #6b7280; text-decoration: underline;">Unsubscribe from future emails</a> |
  <a href="<%= @opt_out_url %>" style="color: #6b7280; text-decoration: underline;">Privacy options</a><br>
  You can manage your privacy settings at any time.
</p>
